<div class="container">
    <div class="row">
      <h1 id="tituloCitas">Citas del día</h1>
        <div class="col-sm-12 col-md-4" *ngFor="let cita of listaCitas |async">
          <div class="container-card">
            <div class="card">
              <div class="card-body">
                <p class="card-title">{{cita.fecha | date : 'MMMM d, y h:mm a': 'es-ES'}}</p>
                <p class="card-text">{{cita.especialidad}}</p>
                <p class="card-text">{{cita.medico.nombre}} {{cita.medico.apellido}}</p>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
