<div class="container mt-2">
  <div class="row">

    <div class="table-responsive-sm">
      <table class="table table-striped text-center">
        <caption>
          Tabla de medicos
        </caption>
        <thead>
          <tr class="table-primary">
            <th id="id">#</th>
            <th id="nombre">Nombre</th>
            <th id="especialidad">Especialdiad</th>
            <th id="telefono">Telefono</th>
            <th id="actions">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let medico of listaMedicos | async">
            <td>{{ medico.id }}</td>
            <td>{{ medico.nombre }}</td>
            <td>{{ medico.especialidad }}</td>
            <td>{{ medico.telefono }}</td>
            <td>
              <app-borrar-medico [medicoDeleted]="medico"></app-borrar-medico>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

      <ngb-pagination
        class="d-flex justify-content-center"
        [collectionSize]="size"
        [maxSize]="limit"
        (pageChange)="loadPage($event)"
      >
      </ngb-pagination>
  </div>
</div>
